<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weweibuy.mapper.WeweibuyMessageMapper" >
  <resultMap id="BaseResultMap" type="com.weweibuy.po.WeweibuyMessage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="deliver_tag" property="deliverTag" jdbcType="VARCHAR" />
    <result column="boby" property="boby" jdbcType="VARCHAR" />
    <result column="queue" property="queue" jdbcType="VARCHAR" />
    <result column="exchange" property="exchange" jdbcType="VARCHAR" />
    <result column="routing_key" property="routingKey" jdbcType="VARCHAR" />
    <result column="send_time" property="sendTime" jdbcType="TINYINT" />
    <result column="is_dead" property="isDead" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="field1" property="field1" jdbcType="VARCHAR" />
    <result column="field2" property="field2" jdbcType="VARCHAR" />
    <result column="field3" property="field3" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, deliver_tag, boby, queue, exchange, routing_key, send_time, is_dead, status, 
    field1, field2, field3, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.weweibuy.po.WeweibuyMessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from weweibuy_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from weweibuy_message
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from weweibuy_message
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.weweibuy.po.WeweibuyMessageExample" >
    delete from weweibuy_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weweibuy.po.WeweibuyMessage" >
    insert into weweibuy_message (id, deliver_tag, boby, 
      queue, exchange, routing_key, 
      send_time, is_dead, status, 
      field1, field2, field3, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{deliverTag,jdbcType=VARCHAR}, #{boby,jdbcType=VARCHAR}, 
      #{queue,jdbcType=VARCHAR}, #{exchange,jdbcType=VARCHAR}, #{routingKey,jdbcType=VARCHAR}, 
      #{sendTime,jdbcType=TINYINT}, #{isDead,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{field1,jdbcType=VARCHAR}, #{field2,jdbcType=VARCHAR}, #{field3,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.weweibuy.po.WeweibuyMessage" useGeneratedKeys="true" keyProperty="id"  >
    insert into weweibuy_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deliverTag != null" >
        deliver_tag,
      </if>
      <if test="boby != null" >
        boby,
      </if>
      <if test="queue != null" >
        queue,
      </if>
      <if test="exchange != null" >
        exchange,
      </if>
      <if test="routingKey != null" >
        routing_key,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="isDead != null" >
        is_dead,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="field1 != null" >
        field1,
      </if>
      <if test="field2 != null" >
        field2,
      </if>
      <if test="field3 != null" >
        field3,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deliverTag != null" >
        #{deliverTag,jdbcType=VARCHAR},
      </if>
      <if test="boby != null" >
        #{boby,jdbcType=VARCHAR},
      </if>
      <if test="queue != null" >
        #{queue,jdbcType=VARCHAR},
      </if>
      <if test="exchange != null" >
        #{exchange,jdbcType=VARCHAR},
      </if>
      <if test="routingKey != null" >
        #{routingKey,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TINYINT},
      </if>
      <if test="isDead != null" >
        #{isDead,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="field1 != null" >
        #{field1,jdbcType=VARCHAR},
      </if>
      <if test="field2 != null" >
        #{field2,jdbcType=VARCHAR},
      </if>
      <if test="field3 != null" >
        #{field3,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.weweibuy.po.WeweibuyMessageExample" resultType="java.lang.Integer" >
    select count(*) from weweibuy_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update weweibuy_message
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.deliverTag != null" >
        deliver_tag = #{record.deliverTag,jdbcType=VARCHAR},
      </if>
      <if test="record.boby != null" >
        boby = #{record.boby,jdbcType=VARCHAR},
      </if>
      <if test="record.queue != null" >
        queue = #{record.queue,jdbcType=VARCHAR},
      </if>
      <if test="record.exchange != null" >
        exchange = #{record.exchange,jdbcType=VARCHAR},
      </if>
      <if test="record.routingKey != null" >
        routing_key = #{record.routingKey,jdbcType=VARCHAR},
      </if>
      <if test="record.sendTime != null" >
        send_time = #{record.sendTime,jdbcType=TINYINT},
      </if>
      <if test="record.isDead != null" >
        is_dead = #{record.isDead,jdbcType=TINYINT},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.field1 != null" >
        field1 = #{record.field1,jdbcType=VARCHAR},
      </if>
      <if test="record.field2 != null" >
        field2 = #{record.field2,jdbcType=VARCHAR},
      </if>
      <if test="record.field3 != null" >
        field3 = #{record.field3,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update weweibuy_message
    set id = #{record.id,jdbcType=BIGINT},
      deliver_tag = #{record.deliverTag,jdbcType=VARCHAR},
      boby = #{record.boby,jdbcType=VARCHAR},
      queue = #{record.queue,jdbcType=VARCHAR},
      exchange = #{record.exchange,jdbcType=VARCHAR},
      routing_key = #{record.routingKey,jdbcType=VARCHAR},
      send_time = #{record.sendTime,jdbcType=TINYINT},
      is_dead = #{record.isDead,jdbcType=TINYINT},
      status = #{record.status,jdbcType=TINYINT},
      field1 = #{record.field1,jdbcType=VARCHAR},
      field2 = #{record.field2,jdbcType=VARCHAR},
      field3 = #{record.field3,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.weweibuy.po.WeweibuyMessage" >
    update weweibuy_message
    <set >
      <if test="deliverTag != null" >
        deliver_tag = #{deliverTag,jdbcType=VARCHAR},
      </if>
      <if test="boby != null" >
        boby = #{boby,jdbcType=VARCHAR},
      </if>
      <if test="queue != null" >
        queue = #{queue,jdbcType=VARCHAR},
      </if>
      <if test="exchange != null" >
        exchange = #{exchange,jdbcType=VARCHAR},
      </if>
      <if test="routingKey != null" >
        routing_key = #{routingKey,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=TINYINT},
      </if>
      <if test="isDead != null" >
        is_dead = #{isDead,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="field1 != null" >
        field1 = #{field1,jdbcType=VARCHAR},
      </if>
      <if test="field2 != null" >
        field2 = #{field2,jdbcType=VARCHAR},
      </if>
      <if test="field3 != null" >
        field3 = #{field3,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weweibuy.po.WeweibuyMessage" >
    update weweibuy_message
    set deliver_tag = #{deliverTag,jdbcType=VARCHAR},
      boby = #{boby,jdbcType=VARCHAR},
      queue = #{queue,jdbcType=VARCHAR},
      exchange = #{exchange,jdbcType=VARCHAR},
      routing_key = #{routingKey,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=TINYINT},
      is_dead = #{isDead,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      field1 = #{field1,jdbcType=VARCHAR},
      field2 = #{field2,jdbcType=VARCHAR},
      field3 = #{field3,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>