<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weweibuy.webuy.learning.event.mapper.BizEventConfigMapper">
  <resultMap id="BaseResultMap" type="com.weweibuy.webuy.learning.event.model.po.BizEventConfig">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="event_type" jdbcType="VARCHAR" property="eventType" />
    <result column="trigger_type" jdbcType="TINYINT" property="triggerType" />
    <result column="block_threshold" jdbcType="INTEGER" property="blockThreshold" />
    <result column="retry_rule" jdbcType="VARCHAR" property="retryRule" />
    <result column="alarm_rule" jdbcType="VARCHAR" property="alarmRule" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, event_type, trigger_type, block_threshold, retry_rule, alarm_rule, create_time, 
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.weweibuy.webuy.learning.event.model.po.BizEventConfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from biz_event_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from biz_event_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from biz_event_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.weweibuy.webuy.learning.event.model.po.BizEventConfigExample">
    delete from biz_event_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weweibuy.webuy.learning.event.model.po.BizEventConfig">
    insert into biz_event_config (id, event_type, trigger_type, 
      block_threshold, retry_rule, alarm_rule, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{eventType,jdbcType=VARCHAR}, #{triggerType,jdbcType=TINYINT}, 
      #{blockThreshold,jdbcType=INTEGER}, #{retryRule,jdbcType=VARCHAR}, #{alarmRule,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.weweibuy.webuy.learning.event.model.po.BizEventConfig">
    insert into biz_event_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="eventType != null">
        event_type,
      </if>
      <if test="triggerType != null">
        trigger_type,
      </if>
      <if test="blockThreshold != null">
        block_threshold,
      </if>
      <if test="retryRule != null">
        retry_rule,
      </if>
      <if test="alarmRule != null">
        alarm_rule,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="eventType != null">
        #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="triggerType != null">
        #{triggerType,jdbcType=TINYINT},
      </if>
      <if test="blockThreshold != null">
        #{blockThreshold,jdbcType=INTEGER},
      </if>
      <if test="retryRule != null">
        #{retryRule,jdbcType=VARCHAR},
      </if>
      <if test="alarmRule != null">
        #{alarmRule,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.weweibuy.webuy.learning.event.model.po.BizEventConfigExample" resultType="java.lang.Long">
    select count(*) from biz_event_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update biz_event_config
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.eventType != null">
        event_type = #{record.eventType,jdbcType=VARCHAR},
      </if>
      <if test="record.triggerType != null">
        trigger_type = #{record.triggerType,jdbcType=TINYINT},
      </if>
      <if test="record.blockThreshold != null">
        block_threshold = #{record.blockThreshold,jdbcType=INTEGER},
      </if>
      <if test="record.retryRule != null">
        retry_rule = #{record.retryRule,jdbcType=VARCHAR},
      </if>
      <if test="record.alarmRule != null">
        alarm_rule = #{record.alarmRule,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update biz_event_config
    set id = #{record.id,jdbcType=BIGINT},
      event_type = #{record.eventType,jdbcType=VARCHAR},
      trigger_type = #{record.triggerType,jdbcType=TINYINT},
      block_threshold = #{record.blockThreshold,jdbcType=INTEGER},
      retry_rule = #{record.retryRule,jdbcType=VARCHAR},
      alarm_rule = #{record.alarmRule,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.weweibuy.webuy.learning.event.model.po.BizEventConfig">
    update biz_event_config
    <set>
      <if test="eventType != null">
        event_type = #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="triggerType != null">
        trigger_type = #{triggerType,jdbcType=TINYINT},
      </if>
      <if test="blockThreshold != null">
        block_threshold = #{blockThreshold,jdbcType=INTEGER},
      </if>
      <if test="retryRule != null">
        retry_rule = #{retryRule,jdbcType=VARCHAR},
      </if>
      <if test="alarmRule != null">
        alarm_rule = #{alarmRule,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weweibuy.webuy.learning.event.model.po.BizEventConfig">
    update biz_event_config
    set event_type = #{eventType,jdbcType=VARCHAR},
      trigger_type = #{triggerType,jdbcType=TINYINT},
      block_threshold = #{blockThreshold,jdbcType=INTEGER},
      retry_rule = #{retryRule,jdbcType=VARCHAR},
      alarm_rule = #{alarmRule,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectOneByExample" parameterType="com.weweibuy.webuy.learning.event.model.po.BizEventConfigExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from biz_event_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
</mapper>