<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weweibuy.message.mapper.WebuyMessageMapper">
  <resultMap id="BaseResultMap" type="com.weweibuy.message.common.model.po.WebuyMessage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="message_correlation_id" jdbcType="VARCHAR" property="messageCorrelationId" />
    <result column="message_boby" jdbcType="VARCHAR" property="messageBoby" />
    <result column="message_queue" jdbcType="VARCHAR" property="messageQueue" />
    <result column="message_exchange" jdbcType="VARCHAR" property="messageExchange" />
    <result column="message_routing_key" jdbcType="VARCHAR" property="messageRoutingKey" />
    <result column="message_send_time" jdbcType="TINYINT" property="messageSendTime" />
    <result column="is_dead" jdbcType="TINYINT" property="isDead" />
    <result column="message_status" jdbcType="TINYINT" property="messageStatus" />
    <result column="field1" jdbcType="VARCHAR" property="field1" />
    <result column="field2" jdbcType="VARCHAR" property="field2" />
    <result column="field3" jdbcType="VARCHAR" property="field3" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, message_correlation_id, message_boby, message_queue, message_exchange, message_routing_key, 
    message_send_time, is_dead, message_status, field1, field2, field3, create_time, 
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.weweibuy.message.common.model.po.WebuyMessageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from webuy_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from webuy_message
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from webuy_message
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.weweibuy.message.common.model.po.WebuyMessageExample">
    delete from webuy_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weweibuy.message.common.model.po.WebuyMessage">
    insert into webuy_message (id, message_correlation_id, message_boby, 
      message_queue, message_exchange, message_routing_key, 
      message_send_time, is_dead, message_status, 
      field1, field2, field3, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{messageCorrelationId,jdbcType=VARCHAR}, #{messageBoby,jdbcType=VARCHAR}, 
      #{messageQueue,jdbcType=VARCHAR}, #{messageExchange,jdbcType=VARCHAR}, #{messageRoutingKey,jdbcType=VARCHAR}, 
      #{messageSendTime,jdbcType=TINYINT}, #{isDead,jdbcType=TINYINT}, #{messageStatus,jdbcType=TINYINT}, 
      #{field1,jdbcType=VARCHAR}, #{field2,jdbcType=VARCHAR}, #{field3,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.weweibuy.message.common.model.po.WebuyMessage">
    insert into webuy_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="messageCorrelationId != null">
        message_correlation_id,
      </if>
      <if test="messageBoby != null">
        message_boby,
      </if>
      <if test="messageQueue != null">
        message_queue,
      </if>
      <if test="messageExchange != null">
        message_exchange,
      </if>
      <if test="messageRoutingKey != null">
        message_routing_key,
      </if>
      <if test="messageSendTime != null">
        message_send_time,
      </if>
      <if test="isDead != null">
        is_dead,
      </if>
      <if test="messageStatus != null">
        message_status,
      </if>
      <if test="field1 != null">
        field1,
      </if>
      <if test="field2 != null">
        field2,
      </if>
      <if test="field3 != null">
        field3,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="messageCorrelationId != null">
        #{messageCorrelationId,jdbcType=VARCHAR},
      </if>
      <if test="messageBoby != null">
        #{messageBoby,jdbcType=VARCHAR},
      </if>
      <if test="messageQueue != null">
        #{messageQueue,jdbcType=VARCHAR},
      </if>
      <if test="messageExchange != null">
        #{messageExchange,jdbcType=VARCHAR},
      </if>
      <if test="messageRoutingKey != null">
        #{messageRoutingKey,jdbcType=VARCHAR},
      </if>
      <if test="messageSendTime != null">
        #{messageSendTime,jdbcType=TINYINT},
      </if>
      <if test="isDead != null">
        #{isDead,jdbcType=TINYINT},
      </if>
      <if test="messageStatus != null">
        #{messageStatus,jdbcType=TINYINT},
      </if>
      <if test="field1 != null">
        #{field1,jdbcType=VARCHAR},
      </if>
      <if test="field2 != null">
        #{field2,jdbcType=VARCHAR},
      </if>
      <if test="field3 != null">
        #{field3,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.weweibuy.message.common.model.po.WebuyMessageExample" resultType="java.lang.Long">
    select count(*) from webuy_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update webuy_message
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.messageCorrelationId != null">
        message_correlation_id = #{record.messageCorrelationId,jdbcType=VARCHAR},
      </if>
      <if test="record.messageBoby != null">
        message_boby = #{record.messageBoby,jdbcType=VARCHAR},
      </if>
      <if test="record.messageQueue != null">
        message_queue = #{record.messageQueue,jdbcType=VARCHAR},
      </if>
      <if test="record.messageExchange != null">
        message_exchange = #{record.messageExchange,jdbcType=VARCHAR},
      </if>
      <if test="record.messageRoutingKey != null">
        message_routing_key = #{record.messageRoutingKey,jdbcType=VARCHAR},
      </if>
      <if test="record.messageSendTime != null">
        message_send_time = #{record.messageSendTime,jdbcType=TINYINT},
      </if>
      <if test="record.isDead != null">
        is_dead = #{record.isDead,jdbcType=TINYINT},
      </if>
      <if test="record.messageStatus != null">
        message_status = #{record.messageStatus,jdbcType=TINYINT},
      </if>
      <if test="record.field1 != null">
        field1 = #{record.field1,jdbcType=VARCHAR},
      </if>
      <if test="record.field2 != null">
        field2 = #{record.field2,jdbcType=VARCHAR},
      </if>
      <if test="record.field3 != null">
        field3 = #{record.field3,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update webuy_message
    set id = #{record.id,jdbcType=BIGINT},
      message_correlation_id = #{record.messageCorrelationId,jdbcType=VARCHAR},
      message_boby = #{record.messageBoby,jdbcType=VARCHAR},
      message_queue = #{record.messageQueue,jdbcType=VARCHAR},
      message_exchange = #{record.messageExchange,jdbcType=VARCHAR},
      message_routing_key = #{record.messageRoutingKey,jdbcType=VARCHAR},
      message_send_time = #{record.messageSendTime,jdbcType=TINYINT},
      is_dead = #{record.isDead,jdbcType=TINYINT},
      message_status = #{record.messageStatus,jdbcType=TINYINT},
      field1 = #{record.field1,jdbcType=VARCHAR},
      field2 = #{record.field2,jdbcType=VARCHAR},
      field3 = #{record.field3,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.weweibuy.message.common.model.po.WebuyMessage">
    update webuy_message
    <set>
      <if test="messageCorrelationId != null">
        message_correlation_id = #{messageCorrelationId,jdbcType=VARCHAR},
      </if>
      <if test="messageBoby != null">
        message_boby = #{messageBoby,jdbcType=VARCHAR},
      </if>
      <if test="messageQueue != null">
        message_queue = #{messageQueue,jdbcType=VARCHAR},
      </if>
      <if test="messageExchange != null">
        message_exchange = #{messageExchange,jdbcType=VARCHAR},
      </if>
      <if test="messageRoutingKey != null">
        message_routing_key = #{messageRoutingKey,jdbcType=VARCHAR},
      </if>
      <if test="messageSendTime != null">
        message_send_time = #{messageSendTime,jdbcType=TINYINT},
      </if>
      <if test="isDead != null">
        is_dead = #{isDead,jdbcType=TINYINT},
      </if>
      <if test="messageStatus != null">
        message_status = #{messageStatus,jdbcType=TINYINT},
      </if>
      <if test="field1 != null">
        field1 = #{field1,jdbcType=VARCHAR},
      </if>
      <if test="field2 != null">
        field2 = #{field2,jdbcType=VARCHAR},
      </if>
      <if test="field3 != null">
        field3 = #{field3,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weweibuy.message.common.model.po.WebuyMessage">
    update webuy_message
    set message_correlation_id = #{messageCorrelationId,jdbcType=VARCHAR},
      message_boby = #{messageBoby,jdbcType=VARCHAR},
      message_queue = #{messageQueue,jdbcType=VARCHAR},
      message_exchange = #{messageExchange,jdbcType=VARCHAR},
      message_routing_key = #{messageRoutingKey,jdbcType=VARCHAR},
      message_send_time = #{messageSendTime,jdbcType=TINYINT},
      is_dead = #{isDead,jdbcType=TINYINT},
      message_status = #{messageStatus,jdbcType=TINYINT},
      field1 = #{field1,jdbcType=VARCHAR},
      field2 = #{field2,jdbcType=VARCHAR},
      field3 = #{field3,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>