<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weweibuy.webuy.learning.sharing.mapper.DispatchBillWarehouseInfoMapper">
  <resultMap id="BaseResultMap" type="com.weweibuy.webuy.learning.sharing.model.po.DispatchBillWarehouseInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="bill_no" jdbcType="VARCHAR" property="billNo" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="warehouse_id" jdbcType="VARCHAR" property="warehouseId" />
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
    <result column="bw_warehouse_code" jdbcType="VARCHAR" property="bwWarehouseCode" />
    <result column="warehouse_type" jdbcType="INTEGER" property="warehouseType" />
    <result column="inter_warehouse_id" jdbcType="VARCHAR" property="interWarehouseId" />
    <result column="inter_warehouse_code" jdbcType="VARCHAR" property="interWarehouseCode" />
    <result column="inter_warehouse_name" jdbcType="VARCHAR" property="interWarehouseName" />
    <result column="inter_warehouse_type" jdbcType="INTEGER" property="interWarehouseType" />
    <result column="expect_out_time" jdbcType="TIMESTAMP" property="expectOutTime" />
    <result column="express_type" jdbcType="VARCHAR" property="expressType" />
    <result column="freight_mode_flag" jdbcType="BIT" property="freightModeFlag" />
    <result column="express_bill_no" jdbcType="VARCHAR" property="expressBillNo" />
    <result column="freight_company_code" jdbcType="VARCHAR" property="freightCompanyCode" />
    <result column="transport_method_code" jdbcType="VARCHAR" property="transportMethodCode" />
    <result column="transport_method_name" jdbcType="VARCHAR" property="transportMethodName" />
    <result column="move_type" jdbcType="VARCHAR" property="moveType" />
    <result column="move_mode_level_no" jdbcType="VARCHAR" property="moveModeLevelNo" />
    <result column="move_mode_code" jdbcType="VARCHAR" property="moveModeCode" />
    <result column="move_mode_name" jdbcType="VARCHAR" property="moveModeName" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, bill_no, order_no, warehouse_id, warehouse_code, warehouse_name, bw_warehouse_code, 
    warehouse_type, inter_warehouse_id, inter_warehouse_code, inter_warehouse_name, inter_warehouse_type, 
    expect_out_time, express_type, freight_mode_flag, express_bill_no, freight_company_code, 
    transport_method_code, transport_method_name, move_type, move_mode_level_no, move_mode_code, 
    move_mode_name, deleted, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.weweibuy.webuy.learning.sharing.model.po.DispatchBillWarehouseInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dispatch_bill_warehouse_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dispatch_bill_warehouse_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dispatch_bill_warehouse_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.weweibuy.webuy.learning.sharing.model.po.DispatchBillWarehouseInfoExample">
    delete from dispatch_bill_warehouse_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weweibuy.webuy.learning.sharing.model.po.DispatchBillWarehouseInfo">
    insert into dispatch_bill_warehouse_info (id, bill_no, order_no, 
      warehouse_id, warehouse_code, warehouse_name, 
      bw_warehouse_code, warehouse_type, inter_warehouse_id, 
      inter_warehouse_code, inter_warehouse_name, 
      inter_warehouse_type, expect_out_time, express_type, 
      freight_mode_flag, express_bill_no, freight_company_code, 
      transport_method_code, transport_method_name, 
      move_type, move_mode_level_no, move_mode_code, 
      move_mode_name, deleted, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{billNo,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, 
      #{warehouseId,jdbcType=VARCHAR}, #{warehouseCode,jdbcType=VARCHAR}, #{warehouseName,jdbcType=VARCHAR}, 
      #{bwWarehouseCode,jdbcType=VARCHAR}, #{warehouseType,jdbcType=INTEGER}, #{interWarehouseId,jdbcType=VARCHAR}, 
      #{interWarehouseCode,jdbcType=VARCHAR}, #{interWarehouseName,jdbcType=VARCHAR}, 
      #{interWarehouseType,jdbcType=INTEGER}, #{expectOutTime,jdbcType=TIMESTAMP}, #{expressType,jdbcType=VARCHAR}, 
      #{freightModeFlag,jdbcType=BIT}, #{expressBillNo,jdbcType=VARCHAR}, #{freightCompanyCode,jdbcType=VARCHAR}, 
      #{transportMethodCode,jdbcType=VARCHAR}, #{transportMethodName,jdbcType=VARCHAR}, 
      #{moveType,jdbcType=VARCHAR}, #{moveModeLevelNo,jdbcType=VARCHAR}, #{moveModeCode,jdbcType=VARCHAR}, 
      #{moveModeName,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.weweibuy.webuy.learning.sharing.model.po.DispatchBillWarehouseInfo">
    insert into dispatch_bill_warehouse_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="billNo != null">
        bill_no,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="warehouseId != null">
        warehouse_id,
      </if>
      <if test="warehouseCode != null">
        warehouse_code,
      </if>
      <if test="warehouseName != null">
        warehouse_name,
      </if>
      <if test="bwWarehouseCode != null">
        bw_warehouse_code,
      </if>
      <if test="warehouseType != null">
        warehouse_type,
      </if>
      <if test="interWarehouseId != null">
        inter_warehouse_id,
      </if>
      <if test="interWarehouseCode != null">
        inter_warehouse_code,
      </if>
      <if test="interWarehouseName != null">
        inter_warehouse_name,
      </if>
      <if test="interWarehouseType != null">
        inter_warehouse_type,
      </if>
      <if test="expectOutTime != null">
        expect_out_time,
      </if>
      <if test="expressType != null">
        express_type,
      </if>
      <if test="freightModeFlag != null">
        freight_mode_flag,
      </if>
      <if test="expressBillNo != null">
        express_bill_no,
      </if>
      <if test="freightCompanyCode != null">
        freight_company_code,
      </if>
      <if test="transportMethodCode != null">
        transport_method_code,
      </if>
      <if test="transportMethodName != null">
        transport_method_name,
      </if>
      <if test="moveType != null">
        move_type,
      </if>
      <if test="moveModeLevelNo != null">
        move_mode_level_no,
      </if>
      <if test="moveModeCode != null">
        move_mode_code,
      </if>
      <if test="moveModeName != null">
        move_mode_name,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="billNo != null">
        #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="warehouseId != null">
        #{warehouseId,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCode != null">
        #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="warehouseName != null">
        #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="bwWarehouseCode != null">
        #{bwWarehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="warehouseType != null">
        #{warehouseType,jdbcType=INTEGER},
      </if>
      <if test="interWarehouseId != null">
        #{interWarehouseId,jdbcType=VARCHAR},
      </if>
      <if test="interWarehouseCode != null">
        #{interWarehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="interWarehouseName != null">
        #{interWarehouseName,jdbcType=VARCHAR},
      </if>
      <if test="interWarehouseType != null">
        #{interWarehouseType,jdbcType=INTEGER},
      </if>
      <if test="expectOutTime != null">
        #{expectOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expressType != null">
        #{expressType,jdbcType=VARCHAR},
      </if>
      <if test="freightModeFlag != null">
        #{freightModeFlag,jdbcType=BIT},
      </if>
      <if test="expressBillNo != null">
        #{expressBillNo,jdbcType=VARCHAR},
      </if>
      <if test="freightCompanyCode != null">
        #{freightCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="transportMethodCode != null">
        #{transportMethodCode,jdbcType=VARCHAR},
      </if>
      <if test="transportMethodName != null">
        #{transportMethodName,jdbcType=VARCHAR},
      </if>
      <if test="moveType != null">
        #{moveType,jdbcType=VARCHAR},
      </if>
      <if test="moveModeLevelNo != null">
        #{moveModeLevelNo,jdbcType=VARCHAR},
      </if>
      <if test="moveModeCode != null">
        #{moveModeCode,jdbcType=VARCHAR},
      </if>
      <if test="moveModeName != null">
        #{moveModeName,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.weweibuy.webuy.learning.sharing.model.po.DispatchBillWarehouseInfoExample" resultType="java.lang.Long">
    select count(*) from dispatch_bill_warehouse_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dispatch_bill_warehouse_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.billNo != null">
        bill_no = #{record.billNo,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null">
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseId != null">
        warehouse_id = #{record.warehouseId,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseCode != null">
        warehouse_code = #{record.warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseName != null">
        warehouse_name = #{record.warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="record.bwWarehouseCode != null">
        bw_warehouse_code = #{record.bwWarehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseType != null">
        warehouse_type = #{record.warehouseType,jdbcType=INTEGER},
      </if>
      <if test="record.interWarehouseId != null">
        inter_warehouse_id = #{record.interWarehouseId,jdbcType=VARCHAR},
      </if>
      <if test="record.interWarehouseCode != null">
        inter_warehouse_code = #{record.interWarehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="record.interWarehouseName != null">
        inter_warehouse_name = #{record.interWarehouseName,jdbcType=VARCHAR},
      </if>
      <if test="record.interWarehouseType != null">
        inter_warehouse_type = #{record.interWarehouseType,jdbcType=INTEGER},
      </if>
      <if test="record.expectOutTime != null">
        expect_out_time = #{record.expectOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expressType != null">
        express_type = #{record.expressType,jdbcType=VARCHAR},
      </if>
      <if test="record.freightModeFlag != null">
        freight_mode_flag = #{record.freightModeFlag,jdbcType=BIT},
      </if>
      <if test="record.expressBillNo != null">
        express_bill_no = #{record.expressBillNo,jdbcType=VARCHAR},
      </if>
      <if test="record.freightCompanyCode != null">
        freight_company_code = #{record.freightCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.transportMethodCode != null">
        transport_method_code = #{record.transportMethodCode,jdbcType=VARCHAR},
      </if>
      <if test="record.transportMethodName != null">
        transport_method_name = #{record.transportMethodName,jdbcType=VARCHAR},
      </if>
      <if test="record.moveType != null">
        move_type = #{record.moveType,jdbcType=VARCHAR},
      </if>
      <if test="record.moveModeLevelNo != null">
        move_mode_level_no = #{record.moveModeLevelNo,jdbcType=VARCHAR},
      </if>
      <if test="record.moveModeCode != null">
        move_mode_code = #{record.moveModeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.moveModeName != null">
        move_mode_name = #{record.moveModeName,jdbcType=VARCHAR},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dispatch_bill_warehouse_info
    set id = #{record.id,jdbcType=BIGINT},
      bill_no = #{record.billNo,jdbcType=VARCHAR},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      warehouse_id = #{record.warehouseId,jdbcType=VARCHAR},
      warehouse_code = #{record.warehouseCode,jdbcType=VARCHAR},
      warehouse_name = #{record.warehouseName,jdbcType=VARCHAR},
      bw_warehouse_code = #{record.bwWarehouseCode,jdbcType=VARCHAR},
      warehouse_type = #{record.warehouseType,jdbcType=INTEGER},
      inter_warehouse_id = #{record.interWarehouseId,jdbcType=VARCHAR},
      inter_warehouse_code = #{record.interWarehouseCode,jdbcType=VARCHAR},
      inter_warehouse_name = #{record.interWarehouseName,jdbcType=VARCHAR},
      inter_warehouse_type = #{record.interWarehouseType,jdbcType=INTEGER},
      expect_out_time = #{record.expectOutTime,jdbcType=TIMESTAMP},
      express_type = #{record.expressType,jdbcType=VARCHAR},
      freight_mode_flag = #{record.freightModeFlag,jdbcType=BIT},
      express_bill_no = #{record.expressBillNo,jdbcType=VARCHAR},
      freight_company_code = #{record.freightCompanyCode,jdbcType=VARCHAR},
      transport_method_code = #{record.transportMethodCode,jdbcType=VARCHAR},
      transport_method_name = #{record.transportMethodName,jdbcType=VARCHAR},
      move_type = #{record.moveType,jdbcType=VARCHAR},
      move_mode_level_no = #{record.moveModeLevelNo,jdbcType=VARCHAR},
      move_mode_code = #{record.moveModeCode,jdbcType=VARCHAR},
      move_mode_name = #{record.moveModeName,jdbcType=VARCHAR},
      deleted = #{record.deleted,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.weweibuy.webuy.learning.sharing.model.po.DispatchBillWarehouseInfo">
    update dispatch_bill_warehouse_info
    <set>
      <if test="billNo != null">
        bill_no = #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="warehouseId != null">
        warehouse_id = #{warehouseId,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCode != null">
        warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="warehouseName != null">
        warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="bwWarehouseCode != null">
        bw_warehouse_code = #{bwWarehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="warehouseType != null">
        warehouse_type = #{warehouseType,jdbcType=INTEGER},
      </if>
      <if test="interWarehouseId != null">
        inter_warehouse_id = #{interWarehouseId,jdbcType=VARCHAR},
      </if>
      <if test="interWarehouseCode != null">
        inter_warehouse_code = #{interWarehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="interWarehouseName != null">
        inter_warehouse_name = #{interWarehouseName,jdbcType=VARCHAR},
      </if>
      <if test="interWarehouseType != null">
        inter_warehouse_type = #{interWarehouseType,jdbcType=INTEGER},
      </if>
      <if test="expectOutTime != null">
        expect_out_time = #{expectOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expressType != null">
        express_type = #{expressType,jdbcType=VARCHAR},
      </if>
      <if test="freightModeFlag != null">
        freight_mode_flag = #{freightModeFlag,jdbcType=BIT},
      </if>
      <if test="expressBillNo != null">
        express_bill_no = #{expressBillNo,jdbcType=VARCHAR},
      </if>
      <if test="freightCompanyCode != null">
        freight_company_code = #{freightCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="transportMethodCode != null">
        transport_method_code = #{transportMethodCode,jdbcType=VARCHAR},
      </if>
      <if test="transportMethodName != null">
        transport_method_name = #{transportMethodName,jdbcType=VARCHAR},
      </if>
      <if test="moveType != null">
        move_type = #{moveType,jdbcType=VARCHAR},
      </if>
      <if test="moveModeLevelNo != null">
        move_mode_level_no = #{moveModeLevelNo,jdbcType=VARCHAR},
      </if>
      <if test="moveModeCode != null">
        move_mode_code = #{moveModeCode,jdbcType=VARCHAR},
      </if>
      <if test="moveModeName != null">
        move_mode_name = #{moveModeName,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weweibuy.webuy.learning.sharing.model.po.DispatchBillWarehouseInfo">
    update dispatch_bill_warehouse_info
    set bill_no = #{billNo,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      warehouse_id = #{warehouseId,jdbcType=VARCHAR},
      warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      bw_warehouse_code = #{bwWarehouseCode,jdbcType=VARCHAR},
      warehouse_type = #{warehouseType,jdbcType=INTEGER},
      inter_warehouse_id = #{interWarehouseId,jdbcType=VARCHAR},
      inter_warehouse_code = #{interWarehouseCode,jdbcType=VARCHAR},
      inter_warehouse_name = #{interWarehouseName,jdbcType=VARCHAR},
      inter_warehouse_type = #{interWarehouseType,jdbcType=INTEGER},
      expect_out_time = #{expectOutTime,jdbcType=TIMESTAMP},
      express_type = #{expressType,jdbcType=VARCHAR},
      freight_mode_flag = #{freightModeFlag,jdbcType=BIT},
      express_bill_no = #{expressBillNo,jdbcType=VARCHAR},
      freight_company_code = #{freightCompanyCode,jdbcType=VARCHAR},
      transport_method_code = #{transportMethodCode,jdbcType=VARCHAR},
      transport_method_name = #{transportMethodName,jdbcType=VARCHAR},
      move_type = #{moveType,jdbcType=VARCHAR},
      move_mode_level_no = #{moveModeLevelNo,jdbcType=VARCHAR},
      move_mode_code = #{moveModeCode,jdbcType=VARCHAR},
      move_mode_name = #{moveModeName,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>