<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weweibuy.webuy.learning.sharing.mapper.DispatchBillInfoMapper">
  <resultMap id="BaseResultMap" type="com.weweibuy.webuy.learning.sharing.model.po.DispatchBillInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="bill_no" jdbcType="VARCHAR" property="billNo" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="biz_flow_no" jdbcType="VARCHAR" property="bizFlowNo" />
    <result column="bill_type" jdbcType="VARCHAR" property="billType" />
    <result column="biz_type" jdbcType="VARCHAR" property="bizType" />
    <result column="bill_source" jdbcType="VARCHAR" property="billSource" />
    <result column="bill_status" jdbcType="VARCHAR" property="billStatus" />
    <result column="process_status" jdbcType="VARCHAR" property="processStatus" />
    <result column="channel_code" jdbcType="VARCHAR" property="channelCode" />
    <result column="source_billl_no" jdbcType="VARCHAR" property="sourceBilllNo" />
    <result column="manual_bill_no" jdbcType="VARCHAR" property="manualBillNo" />
    <result column="prefinish_bill_no" jdbcType="VARCHAR" property="prefinishBillNo" />
    <result column="vendcust_id" jdbcType="VARCHAR" property="vendcustId" />
    <result column="vendcust_code" jdbcType="VARCHAR" property="vendcustCode" />
    <result column="vendcust_name" jdbcType="VARCHAR" property="vendcustName" />
    <result column="batch_no" jdbcType="VARCHAR" property="batchNo" />
    <result column="batch_mark" jdbcType="VARCHAR" property="batchMark" />
    <result column="dispatch_reason" jdbcType="INTEGER" property="dispatchReason" />
    <result column="expect_arrival_time" jdbcType="TIMESTAMP" property="expectArrivalTime" />
    <result column="departure_time" jdbcType="TIMESTAMP" property="departureTime" />
    <result column="shop_bill_no" jdbcType="VARCHAR" property="shopBillNo" />
    <result column="buyer_user_name" jdbcType="VARCHAR" property="buyerUserName" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="expect_amount" jdbcType="INTEGER" property="expectAmount" />
    <result column="total_record_num" jdbcType="INTEGER" property="totalRecordNum" />
    <result column="total_actual_shipment" jdbcType="INTEGER" property="totalActualShipment" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="print_invoice_flag" jdbcType="BIT" property="printInvoiceFlag" />
    <result column="with_invoice_flag" jdbcType="BIT" property="withInvoiceFlag" />
    <result column="allow_receipt_flag" jdbcType="BIT" property="allowReceiptFlag" />
    <result column="allow_partial_delivery_flag" jdbcType="BIT" property="allowPartialDeliveryFlag" />
    <result column="dispatch_immediately_flag" jdbcType="BIT" property="dispatchImmediatelyFlag" />
    <result column="sharding_key" jdbcType="INTEGER" property="shardingKey" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, bill_no, order_no, biz_flow_no, bill_type, biz_type, bill_source, bill_status, 
    process_status, channel_code, source_billl_no, manual_bill_no, prefinish_bill_no, 
    vendcust_id, vendcust_code, vendcust_name, batch_no, batch_mark, dispatch_reason, 
    expect_arrival_time, departure_time, shop_bill_no, buyer_user_name, province, city, 
    area, address, contact, phone, expect_amount, total_record_num, total_actual_shipment, 
    remark, print_invoice_flag, with_invoice_flag, allow_receipt_flag, allow_partial_delivery_flag, 
    dispatch_immediately_flag, sharding_key, deleted, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.weweibuy.webuy.learning.sharing.model.po.DispatchBillInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dispatch_bill_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dispatch_bill_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dispatch_bill_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.weweibuy.webuy.learning.sharing.model.po.DispatchBillInfoExample">
    delete from dispatch_bill_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weweibuy.webuy.learning.sharing.model.po.DispatchBillInfo">
    insert into dispatch_bill_info (id, bill_no, order_no, 
      biz_flow_no, bill_type, biz_type, 
      bill_source, bill_status, process_status, 
      channel_code, source_billl_no, manual_bill_no, 
      prefinish_bill_no, vendcust_id, vendcust_code, 
      vendcust_name, batch_no, batch_mark, 
      dispatch_reason, expect_arrival_time, departure_time, 
      shop_bill_no, buyer_user_name, province, 
      city, area, address, 
      contact, phone, expect_amount, 
      total_record_num, total_actual_shipment, remark, 
      print_invoice_flag, with_invoice_flag, allow_receipt_flag, 
      allow_partial_delivery_flag, dispatch_immediately_flag, 
      sharding_key, deleted, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{billNo,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, 
      #{bizFlowNo,jdbcType=VARCHAR}, #{billType,jdbcType=VARCHAR}, #{bizType,jdbcType=VARCHAR}, 
      #{billSource,jdbcType=VARCHAR}, #{billStatus,jdbcType=VARCHAR}, #{processStatus,jdbcType=VARCHAR}, 
      #{channelCode,jdbcType=VARCHAR}, #{sourceBilllNo,jdbcType=VARCHAR}, #{manualBillNo,jdbcType=VARCHAR}, 
      #{prefinishBillNo,jdbcType=VARCHAR}, #{vendcustId,jdbcType=VARCHAR}, #{vendcustCode,jdbcType=VARCHAR}, 
      #{vendcustName,jdbcType=VARCHAR}, #{batchNo,jdbcType=VARCHAR}, #{batchMark,jdbcType=VARCHAR}, 
      #{dispatchReason,jdbcType=INTEGER}, #{expectArrivalTime,jdbcType=TIMESTAMP}, #{departureTime,jdbcType=TIMESTAMP}, 
      #{shopBillNo,jdbcType=VARCHAR}, #{buyerUserName,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{contact,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{expectAmount,jdbcType=INTEGER}, 
      #{totalRecordNum,jdbcType=INTEGER}, #{totalActualShipment,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{printInvoiceFlag,jdbcType=BIT}, #{withInvoiceFlag,jdbcType=BIT}, #{allowReceiptFlag,jdbcType=BIT}, 
      #{allowPartialDeliveryFlag,jdbcType=BIT}, #{dispatchImmediatelyFlag,jdbcType=BIT}, 
      #{shardingKey,jdbcType=INTEGER}, #{deleted,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.weweibuy.webuy.learning.sharing.model.po.DispatchBillInfo">
    insert into dispatch_bill_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="billNo != null">
        bill_no,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="bizFlowNo != null">
        biz_flow_no,
      </if>
      <if test="billType != null">
        bill_type,
      </if>
      <if test="bizType != null">
        biz_type,
      </if>
      <if test="billSource != null">
        bill_source,
      </if>
      <if test="billStatus != null">
        bill_status,
      </if>
      <if test="processStatus != null">
        process_status,
      </if>
      <if test="channelCode != null">
        channel_code,
      </if>
      <if test="sourceBilllNo != null">
        source_billl_no,
      </if>
      <if test="manualBillNo != null">
        manual_bill_no,
      </if>
      <if test="prefinishBillNo != null">
        prefinish_bill_no,
      </if>
      <if test="vendcustId != null">
        vendcust_id,
      </if>
      <if test="vendcustCode != null">
        vendcust_code,
      </if>
      <if test="vendcustName != null">
        vendcust_name,
      </if>
      <if test="batchNo != null">
        batch_no,
      </if>
      <if test="batchMark != null">
        batch_mark,
      </if>
      <if test="dispatchReason != null">
        dispatch_reason,
      </if>
      <if test="expectArrivalTime != null">
        expect_arrival_time,
      </if>
      <if test="departureTime != null">
        departure_time,
      </if>
      <if test="shopBillNo != null">
        shop_bill_no,
      </if>
      <if test="buyerUserName != null">
        buyer_user_name,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="expectAmount != null">
        expect_amount,
      </if>
      <if test="totalRecordNum != null">
        total_record_num,
      </if>
      <if test="totalActualShipment != null">
        total_actual_shipment,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="printInvoiceFlag != null">
        print_invoice_flag,
      </if>
      <if test="withInvoiceFlag != null">
        with_invoice_flag,
      </if>
      <if test="allowReceiptFlag != null">
        allow_receipt_flag,
      </if>
      <if test="allowPartialDeliveryFlag != null">
        allow_partial_delivery_flag,
      </if>
      <if test="dispatchImmediatelyFlag != null">
        dispatch_immediately_flag,
      </if>
      <if test="shardingKey != null">
        sharding_key,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="billNo != null">
        #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="bizFlowNo != null">
        #{bizFlowNo,jdbcType=VARCHAR},
      </if>
      <if test="billType != null">
        #{billType,jdbcType=VARCHAR},
      </if>
      <if test="bizType != null">
        #{bizType,jdbcType=VARCHAR},
      </if>
      <if test="billSource != null">
        #{billSource,jdbcType=VARCHAR},
      </if>
      <if test="billStatus != null">
        #{billStatus,jdbcType=VARCHAR},
      </if>
      <if test="processStatus != null">
        #{processStatus,jdbcType=VARCHAR},
      </if>
      <if test="channelCode != null">
        #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="sourceBilllNo != null">
        #{sourceBilllNo,jdbcType=VARCHAR},
      </if>
      <if test="manualBillNo != null">
        #{manualBillNo,jdbcType=VARCHAR},
      </if>
      <if test="prefinishBillNo != null">
        #{prefinishBillNo,jdbcType=VARCHAR},
      </if>
      <if test="vendcustId != null">
        #{vendcustId,jdbcType=VARCHAR},
      </if>
      <if test="vendcustCode != null">
        #{vendcustCode,jdbcType=VARCHAR},
      </if>
      <if test="vendcustName != null">
        #{vendcustName,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null">
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="batchMark != null">
        #{batchMark,jdbcType=VARCHAR},
      </if>
      <if test="dispatchReason != null">
        #{dispatchReason,jdbcType=INTEGER},
      </if>
      <if test="expectArrivalTime != null">
        #{expectArrivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="departureTime != null">
        #{departureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopBillNo != null">
        #{shopBillNo,jdbcType=VARCHAR},
      </if>
      <if test="buyerUserName != null">
        #{buyerUserName,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="expectAmount != null">
        #{expectAmount,jdbcType=INTEGER},
      </if>
      <if test="totalRecordNum != null">
        #{totalRecordNum,jdbcType=INTEGER},
      </if>
      <if test="totalActualShipment != null">
        #{totalActualShipment,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="printInvoiceFlag != null">
        #{printInvoiceFlag,jdbcType=BIT},
      </if>
      <if test="withInvoiceFlag != null">
        #{withInvoiceFlag,jdbcType=BIT},
      </if>
      <if test="allowReceiptFlag != null">
        #{allowReceiptFlag,jdbcType=BIT},
      </if>
      <if test="allowPartialDeliveryFlag != null">
        #{allowPartialDeliveryFlag,jdbcType=BIT},
      </if>
      <if test="dispatchImmediatelyFlag != null">
        #{dispatchImmediatelyFlag,jdbcType=BIT},
      </if>
      <if test="shardingKey != null">
        #{shardingKey,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.weweibuy.webuy.learning.sharing.model.po.DispatchBillInfoExample" resultType="java.lang.Long">
    select count(*) from dispatch_bill_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dispatch_bill_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.billNo != null">
        bill_no = #{record.billNo,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null">
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.bizFlowNo != null">
        biz_flow_no = #{record.bizFlowNo,jdbcType=VARCHAR},
      </if>
      <if test="record.billType != null">
        bill_type = #{record.billType,jdbcType=VARCHAR},
      </if>
      <if test="record.bizType != null">
        biz_type = #{record.bizType,jdbcType=VARCHAR},
      </if>
      <if test="record.billSource != null">
        bill_source = #{record.billSource,jdbcType=VARCHAR},
      </if>
      <if test="record.billStatus != null">
        bill_status = #{record.billStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.processStatus != null">
        process_status = #{record.processStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.channelCode != null">
        channel_code = #{record.channelCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceBilllNo != null">
        source_billl_no = #{record.sourceBilllNo,jdbcType=VARCHAR},
      </if>
      <if test="record.manualBillNo != null">
        manual_bill_no = #{record.manualBillNo,jdbcType=VARCHAR},
      </if>
      <if test="record.prefinishBillNo != null">
        prefinish_bill_no = #{record.prefinishBillNo,jdbcType=VARCHAR},
      </if>
      <if test="record.vendcustId != null">
        vendcust_id = #{record.vendcustId,jdbcType=VARCHAR},
      </if>
      <if test="record.vendcustCode != null">
        vendcust_code = #{record.vendcustCode,jdbcType=VARCHAR},
      </if>
      <if test="record.vendcustName != null">
        vendcust_name = #{record.vendcustName,jdbcType=VARCHAR},
      </if>
      <if test="record.batchNo != null">
        batch_no = #{record.batchNo,jdbcType=VARCHAR},
      </if>
      <if test="record.batchMark != null">
        batch_mark = #{record.batchMark,jdbcType=VARCHAR},
      </if>
      <if test="record.dispatchReason != null">
        dispatch_reason = #{record.dispatchReason,jdbcType=INTEGER},
      </if>
      <if test="record.expectArrivalTime != null">
        expect_arrival_time = #{record.expectArrivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.departureTime != null">
        departure_time = #{record.departureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shopBillNo != null">
        shop_bill_no = #{record.shopBillNo,jdbcType=VARCHAR},
      </if>
      <if test="record.buyerUserName != null">
        buyer_user_name = #{record.buyerUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null">
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.contact != null">
        contact = #{record.contact,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.expectAmount != null">
        expect_amount = #{record.expectAmount,jdbcType=INTEGER},
      </if>
      <if test="record.totalRecordNum != null">
        total_record_num = #{record.totalRecordNum,jdbcType=INTEGER},
      </if>
      <if test="record.totalActualShipment != null">
        total_actual_shipment = #{record.totalActualShipment,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.printInvoiceFlag != null">
        print_invoice_flag = #{record.printInvoiceFlag,jdbcType=BIT},
      </if>
      <if test="record.withInvoiceFlag != null">
        with_invoice_flag = #{record.withInvoiceFlag,jdbcType=BIT},
      </if>
      <if test="record.allowReceiptFlag != null">
        allow_receipt_flag = #{record.allowReceiptFlag,jdbcType=BIT},
      </if>
      <if test="record.allowPartialDeliveryFlag != null">
        allow_partial_delivery_flag = #{record.allowPartialDeliveryFlag,jdbcType=BIT},
      </if>
      <if test="record.dispatchImmediatelyFlag != null">
        dispatch_immediately_flag = #{record.dispatchImmediatelyFlag,jdbcType=BIT},
      </if>
      <if test="record.shardingKey != null">
        sharding_key = #{record.shardingKey,jdbcType=INTEGER},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dispatch_bill_info
    set id = #{record.id,jdbcType=BIGINT},
      bill_no = #{record.billNo,jdbcType=VARCHAR},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      biz_flow_no = #{record.bizFlowNo,jdbcType=VARCHAR},
      bill_type = #{record.billType,jdbcType=VARCHAR},
      biz_type = #{record.bizType,jdbcType=VARCHAR},
      bill_source = #{record.billSource,jdbcType=VARCHAR},
      bill_status = #{record.billStatus,jdbcType=VARCHAR},
      process_status = #{record.processStatus,jdbcType=VARCHAR},
      channel_code = #{record.channelCode,jdbcType=VARCHAR},
      source_billl_no = #{record.sourceBilllNo,jdbcType=VARCHAR},
      manual_bill_no = #{record.manualBillNo,jdbcType=VARCHAR},
      prefinish_bill_no = #{record.prefinishBillNo,jdbcType=VARCHAR},
      vendcust_id = #{record.vendcustId,jdbcType=VARCHAR},
      vendcust_code = #{record.vendcustCode,jdbcType=VARCHAR},
      vendcust_name = #{record.vendcustName,jdbcType=VARCHAR},
      batch_no = #{record.batchNo,jdbcType=VARCHAR},
      batch_mark = #{record.batchMark,jdbcType=VARCHAR},
      dispatch_reason = #{record.dispatchReason,jdbcType=INTEGER},
      expect_arrival_time = #{record.expectArrivalTime,jdbcType=TIMESTAMP},
      departure_time = #{record.departureTime,jdbcType=TIMESTAMP},
      shop_bill_no = #{record.shopBillNo,jdbcType=VARCHAR},
      buyer_user_name = #{record.buyerUserName,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      contact = #{record.contact,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      expect_amount = #{record.expectAmount,jdbcType=INTEGER},
      total_record_num = #{record.totalRecordNum,jdbcType=INTEGER},
      total_actual_shipment = #{record.totalActualShipment,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      print_invoice_flag = #{record.printInvoiceFlag,jdbcType=BIT},
      with_invoice_flag = #{record.withInvoiceFlag,jdbcType=BIT},
      allow_receipt_flag = #{record.allowReceiptFlag,jdbcType=BIT},
      allow_partial_delivery_flag = #{record.allowPartialDeliveryFlag,jdbcType=BIT},
      dispatch_immediately_flag = #{record.dispatchImmediatelyFlag,jdbcType=BIT},
      sharding_key = #{record.shardingKey,jdbcType=INTEGER},
      deleted = #{record.deleted,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.weweibuy.webuy.learning.sharing.model.po.DispatchBillInfo">
    update dispatch_bill_info
    <set>
      <if test="billNo != null">
        bill_no = #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="bizFlowNo != null">
        biz_flow_no = #{bizFlowNo,jdbcType=VARCHAR},
      </if>
      <if test="billType != null">
        bill_type = #{billType,jdbcType=VARCHAR},
      </if>
      <if test="bizType != null">
        biz_type = #{bizType,jdbcType=VARCHAR},
      </if>
      <if test="billSource != null">
        bill_source = #{billSource,jdbcType=VARCHAR},
      </if>
      <if test="billStatus != null">
        bill_status = #{billStatus,jdbcType=VARCHAR},
      </if>
      <if test="processStatus != null">
        process_status = #{processStatus,jdbcType=VARCHAR},
      </if>
      <if test="channelCode != null">
        channel_code = #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="sourceBilllNo != null">
        source_billl_no = #{sourceBilllNo,jdbcType=VARCHAR},
      </if>
      <if test="manualBillNo != null">
        manual_bill_no = #{manualBillNo,jdbcType=VARCHAR},
      </if>
      <if test="prefinishBillNo != null">
        prefinish_bill_no = #{prefinishBillNo,jdbcType=VARCHAR},
      </if>
      <if test="vendcustId != null">
        vendcust_id = #{vendcustId,jdbcType=VARCHAR},
      </if>
      <if test="vendcustCode != null">
        vendcust_code = #{vendcustCode,jdbcType=VARCHAR},
      </if>
      <if test="vendcustName != null">
        vendcust_name = #{vendcustName,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null">
        batch_no = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="batchMark != null">
        batch_mark = #{batchMark,jdbcType=VARCHAR},
      </if>
      <if test="dispatchReason != null">
        dispatch_reason = #{dispatchReason,jdbcType=INTEGER},
      </if>
      <if test="expectArrivalTime != null">
        expect_arrival_time = #{expectArrivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="departureTime != null">
        departure_time = #{departureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopBillNo != null">
        shop_bill_no = #{shopBillNo,jdbcType=VARCHAR},
      </if>
      <if test="buyerUserName != null">
        buyer_user_name = #{buyerUserName,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="expectAmount != null">
        expect_amount = #{expectAmount,jdbcType=INTEGER},
      </if>
      <if test="totalRecordNum != null">
        total_record_num = #{totalRecordNum,jdbcType=INTEGER},
      </if>
      <if test="totalActualShipment != null">
        total_actual_shipment = #{totalActualShipment,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="printInvoiceFlag != null">
        print_invoice_flag = #{printInvoiceFlag,jdbcType=BIT},
      </if>
      <if test="withInvoiceFlag != null">
        with_invoice_flag = #{withInvoiceFlag,jdbcType=BIT},
      </if>
      <if test="allowReceiptFlag != null">
        allow_receipt_flag = #{allowReceiptFlag,jdbcType=BIT},
      </if>
      <if test="allowPartialDeliveryFlag != null">
        allow_partial_delivery_flag = #{allowPartialDeliveryFlag,jdbcType=BIT},
      </if>
      <if test="dispatchImmediatelyFlag != null">
        dispatch_immediately_flag = #{dispatchImmediatelyFlag,jdbcType=BIT},
      </if>
      <if test="shardingKey != null">
        sharding_key = #{shardingKey,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weweibuy.webuy.learning.sharing.model.po.DispatchBillInfo">
    update dispatch_bill_info
    set bill_no = #{billNo,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      biz_flow_no = #{bizFlowNo,jdbcType=VARCHAR},
      bill_type = #{billType,jdbcType=VARCHAR},
      biz_type = #{bizType,jdbcType=VARCHAR},
      bill_source = #{billSource,jdbcType=VARCHAR},
      bill_status = #{billStatus,jdbcType=VARCHAR},
      process_status = #{processStatus,jdbcType=VARCHAR},
      channel_code = #{channelCode,jdbcType=VARCHAR},
      source_billl_no = #{sourceBilllNo,jdbcType=VARCHAR},
      manual_bill_no = #{manualBillNo,jdbcType=VARCHAR},
      prefinish_bill_no = #{prefinishBillNo,jdbcType=VARCHAR},
      vendcust_id = #{vendcustId,jdbcType=VARCHAR},
      vendcust_code = #{vendcustCode,jdbcType=VARCHAR},
      vendcust_name = #{vendcustName,jdbcType=VARCHAR},
      batch_no = #{batchNo,jdbcType=VARCHAR},
      batch_mark = #{batchMark,jdbcType=VARCHAR},
      dispatch_reason = #{dispatchReason,jdbcType=INTEGER},
      expect_arrival_time = #{expectArrivalTime,jdbcType=TIMESTAMP},
      departure_time = #{departureTime,jdbcType=TIMESTAMP},
      shop_bill_no = #{shopBillNo,jdbcType=VARCHAR},
      buyer_user_name = #{buyerUserName,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      expect_amount = #{expectAmount,jdbcType=INTEGER},
      total_record_num = #{totalRecordNum,jdbcType=INTEGER},
      total_actual_shipment = #{totalActualShipment,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      print_invoice_flag = #{printInvoiceFlag,jdbcType=BIT},
      with_invoice_flag = #{withInvoiceFlag,jdbcType=BIT},
      allow_receipt_flag = #{allowReceiptFlag,jdbcType=BIT},
      allow_partial_delivery_flag = #{allowPartialDeliveryFlag,jdbcType=BIT},
      dispatch_immediately_flag = #{dispatchImmediatelyFlag,jdbcType=BIT},
      sharding_key = #{shardingKey,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>