<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weweibuy.product.mapper.ItemPropertyMapper">
  <resultMap id="BaseResultMap" type="com.weweibuy.product.common.model.po.ItemProperty">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="property_name" jdbcType="VARCHAR" property="propertyName" />
    <result column="property_type" jdbcType="VARCHAR" property="propertyType" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="input_mode" jdbcType="TINYINT" property="inputMode" />
    <result column="input_type" jdbcType="TINYINT" property="inputType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, property_name, property_type, category_id, remark, input_mode, input_type, create_time, 
    modify_time
  </sql>
  <select id="selectByExample" parameterType="com.weweibuy.product.common.model.po.ItemPropertyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from item_property
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from item_property
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from item_property
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.weweibuy.product.common.model.po.ItemPropertyExample">
    delete from item_property
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weweibuy.product.common.model.po.ItemProperty">
    insert into item_property (id, property_name, property_type, 
      category_id, remark, input_mode, 
      input_type, create_time, modify_time
      )
    values (#{id,jdbcType=BIGINT}, #{propertyName,jdbcType=VARCHAR}, #{propertyType,jdbcType=VARCHAR}, 
      #{categoryId,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}, #{inputMode,jdbcType=TINYINT}, 
      #{inputType,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.weweibuy.product.common.model.po.ItemProperty">
    insert into item_property
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="propertyName != null">
        property_name,
      </if>
      <if test="propertyType != null">
        property_type,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="inputMode != null">
        input_mode,
      </if>
      <if test="inputType != null">
        input_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="propertyName != null">
        #{propertyName,jdbcType=VARCHAR},
      </if>
      <if test="propertyType != null">
        #{propertyType,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="inputMode != null">
        #{inputMode,jdbcType=TINYINT},
      </if>
      <if test="inputType != null">
        #{inputType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.weweibuy.product.common.model.po.ItemPropertyExample" resultType="java.lang.Long">
    select count(*) from item_property
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update item_property
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.propertyName != null">
        property_name = #{record.propertyName,jdbcType=VARCHAR},
      </if>
      <if test="record.propertyType != null">
        property_type = #{record.propertyType,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=BIGINT},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.inputMode != null">
        input_mode = #{record.inputMode,jdbcType=TINYINT},
      </if>
      <if test="record.inputType != null">
        input_type = #{record.inputType,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update item_property
    set id = #{record.id,jdbcType=BIGINT},
      property_name = #{record.propertyName,jdbcType=VARCHAR},
      property_type = #{record.propertyType,jdbcType=VARCHAR},
      category_id = #{record.categoryId,jdbcType=BIGINT},
      remark = #{record.remark,jdbcType=VARCHAR},
      input_mode = #{record.inputMode,jdbcType=TINYINT},
      input_type = #{record.inputType,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.weweibuy.product.common.model.po.ItemProperty">
    update item_property
    <set>
      <if test="propertyName != null">
        property_name = #{propertyName,jdbcType=VARCHAR},
      </if>
      <if test="propertyType != null">
        property_type = #{propertyType,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="inputMode != null">
        input_mode = #{inputMode,jdbcType=TINYINT},
      </if>
      <if test="inputType != null">
        input_type = #{inputType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weweibuy.product.common.model.po.ItemProperty">
    update item_property
    set property_name = #{propertyName,jdbcType=VARCHAR},
      property_type = #{propertyType,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      input_mode = #{inputMode,jdbcType=TINYINT},
      input_type = #{inputType,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>